<% content_for :body do %>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 offset-sm-3 col-md-3 mt-5">
        <div class="mb-3 text-center">
          <%= link_to :root do %>
            <%= image_tag "white-logo.png",  width:"300", height:"150"%>
          <% end %>
        </div>

        <div class="card mt-2">
          <div class="card-body m-2">
            <h5>Sign in.</h5>    
            <% if notice %>
                <div class="text-center" rounded-0>
                  <div class="alert alert-info" role="alert">
                    <span class="notice"><%= notice %></span>
                  </div>
                </div>
              <% end %>

              <% if alert %>
                <div class="text-center">
                  <div class="alert alert-danger" role="alert">
                    <span class="alert"><%= alert %></span>
                  </div>
                </div>
              <% end %>

            <div class="mt-3">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <%= f.label :email %>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-white">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <%= f.email_field :email, { id: "email", class: "form-control", style:"border-left:none", autofocus: true } %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :password %>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-white">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                    <%= f.password_field :password, { id: "password", class: "form-control", style:"border-left:none", autocomplete: "off" } %>
                  </div>
                </div>

                <div class="d-flex p2 justify-content-between">
                  <% if devise_mapping.rememberable? -%>
                    <div class="form-group">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>
                
                <div><%= link_to "Forgot password?", new_password_path(resource_name) %></div>
                </div>

                <%= f.submit "Sign In", {class: "btn btn-primary gradient border-0 btn-block btn-lg"} %>
              <% end %>
            </div>
          </div><!-- card body -->
        </div><!-- card -->
        <p class="text-center text-white mt-3">Need an account? <%= link_to "Sign up now.", new_registration_path(resource_name), class: "text-white" %></p>
      </div><!-- col-4 -->
    </div>
  </div>
<% end %>


<%= render 'devise/shared/layout' %>